<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	id="cordova-plugin-idcode" version="0.0.1">

<name>generate identification code</name>

<license>HDU</license>

<keywords>identification, identification code, code</keywords>

<description>Native interface to generate identification code.</description>

<author>Leibi</author>

<engines>
	<engine name="cordova" version=">=3.3.0" />
</engines>

<js-module src="www/generateIDcode.js" name="generateIDcode.js">
	<clobbers target="generateIDcode" />
</js-module>

<!-- ios -->
<platform name="ios">
	<config-file target="config.xml" parent="/widget">
		<feature name="generateIDcode">
			<param name="ios-package" value="generateIDcode" />
		</feature>
	</config-file>

	<header-file src="src/ios/generateIDcode.h" />
	<source-file src="src/ios/generateIDcode.m" />
</platform>
</plugin>